.map_container {
  position: relative;
  width: 50rem;
  aspect-ratio: 2;
  border-radius: 8px;
  border: 2px solid #ddd;
}

.map {
  position: absolute;
  width: 100%;
  aspect-ratio: 2;
  border-radius: 8px;
  border: 2px solid #ddd;
}

.center_pin {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}
