.map_container {
  position: relative;
  aspect-ratio: 2;
  border-radius: 8px;
  border: 2px solid #ddd;
}

.map {
  position: absolute;
  width: 100%;
  aspect-ratio: 2;
  border-radius: 8px;
  border: 2px solid #ddd;
}

.center_pin {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease, opacity 0.3s ease;
}

.center_pin_drag {
  top: 48%;
  opacity: 0.5;
}
