.selected_date_circle {
  width: 35px;
  height: 35px;
  background-color: #5074c1;
  border-radius: 50%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 9;
}
