.article {
  display: flex;
  align-items: center;
  justify-content: center; /* 가로 중앙 정렬을 위해 추가 */
  width: 100%;
  padding: 3rem;
  gap: 1rem;
  text-align: left;
}

.article:nth-child(2n) {
  background-color: #fbf9f9;
}

.description {
  padding-left: 1rem;
  flex: 1;
}

.subtitle {
  font-size: clamp(1.3rem, 5vw, 2rem);
  font-weight: 500;
  white-space: pre-wrap;
}

.image {
  max-height: 100px;
}

.use_case {
  font-size: 1rem;
  white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
  .article {
    flex-direction: column;
    align-items: center; /* 세로 중앙 정렬을 위해 수정 */
    padding: 1rem;
    text-align: center;
  }

  .description {
    padding-left: 0; /* Adjusted padding for smaller screens */
    width: 100%;
  }

  .image {
    width: 100%;
  }
}
