.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.header_image {
  background-image: url(../../../public/images/about_owl_image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.header {
  width: 100%;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.729);
  background-size: cover;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10%;
  color: aliceblue;
  font-weight: 700;
  font-size: 3rem;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 7rem;
}

.profiles {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  min-width: 250px;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
}

.profiles_contents {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.github_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 10px;
}
