.main {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  background-size: cover;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10%;
  color: aliceblue;

  font-size: 3rem;
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.divider {
  width: 100%;
  height: 60px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.divider_bar {
  height: 1px;
  max-width: 270px;
  width: calc(50% - 90px);
  background-color: rgba(255, 255, 255, 0.1);
}

.divider_text {
  font-size: 14px;
  margin: 0px 10px;
  opacity: 0.15;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.646);
}

.section {
  width: 100%;
  height: 140px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  /* overflow-x: scroll; */
}

.content_container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.content_wrap {
  width: 95%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.content_wrap:hover {
  border: 1px solid white;
  transition: all 0.3s ease-in-out 0s;
}

.owl_link_introduce_container {
  height: 200px;
  width: 100%;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
}

.owl_link_img_box {
  background-color: rgba(0, 0, 0, 0.5);
  height: 180px;
  margin-right: 10px;
  width: 180px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.owl_link_content_box {
  width: calc(100% - 20%);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
}

.service_title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.introduce {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 12px;
  color: rgb(223, 223, 223);
}

.introduce_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.introduce {
  margin-right: 10px;
  color: rgb(255 255 255 / 80%);
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out 0s;
  font-weight: 500;
  display: flex;
  width: 100%;
}

.review_card_container {
  width: 100%;
  padding: 0px 10px 10px;
  margin: 0px;
  position: relative;
}

.review_card_wrap {
  width: 100%;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile_image_box {
  width: 40%;
  /* height: 90px; */
  display: flex;
  margin-right: 5px;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 0px;
  -webkit-box-align: center;
  align-items: center;
}

.profile_image {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.review_box {
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
}

.review_title {
  font-size: 14px;
  margin-bottom: 6px;
  color: white;
}

.review_content {
  font-size: 12px;
  margin-bottom: 6px;
  color: rgb(184, 184, 184);
}

.review_end {
  font-size: 12px;
  opacity: 0.4;
  color: white;
}

@media screen and (max-width: 800px) {
  .divider_bar {
    width: calc(50% - 100px);
  }
  .section {
    -webkit-box-pack: start;
    justify-content: center;
  }
}
