.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 4rem;
}

.logo > a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: -5px;
}
