.main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 4rem;
}

.logo > a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: -5px;
}

.paypal {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 2rem;
  width: 360px;
  height: 54px;
  outline: none;
  border: none;
  background: white;
  padding: 1rem 1.2rem;
  border-radius: 10px;
  border: 1px solid #002987;
  text-decoration: none;
}

.paypal > span {
  flex: 1;
  font-weight: bold;
  font-size: 20px;
  font-family: Roboto;
  color: #002987;
  text-align: center;
}
