.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  transform: translateX(-400px);
  transition: transform ease 0.4s;
  width: 400px;
  z-index: 999;
}

.map {
  position: relative;
  width: 100%;
}

.opened .aside {
  transform: translateX(0px);
  transition: transform ease 0.4s;
  box-shadow: 4px 0px 5px -3px gray;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.opened > .map {
  padding-left: 394px;
  transition: padding ease 0.4s;
}

.scroll_bar {
  width: 0.2rem;
  height: 3rem;
  background-color: #8a2be2;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  display: flex;
  justify-self: right;
}

@media screen and (max-width: 800px) {
  .opened > .map {
    padding-left: 0;
  }
}
