.dates {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.day_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.days {
  flex: 1;
  aspect-ratio: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.disabled {
  color: #ccc !important;
}

.abled {
  cursor: pointer;
}
.selected_date_circle {
  width: 35px;
  height: 35px;
  background-color: #016e9c5a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weekday {
  color: black;
}
.today {
  color: pink;
}

.sunday {
  color: red;
}

.saturday {
  color: blue;
}

.none {
  color: #ccc;
}

.selected {
  color: white;
  font-weight: 500;
}
