.aside {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 400px;

  display: flex;
  justify-content: center;

  background-color: white;

  box-shadow: 4px 0px 5px -3px gray;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  z-index: 5;
}

.channel {
  width: 60px;

  display: flex;
  flex-direction: column;

  border-right: 1px solid rgba(138, 43, 226, 0.25);
  box-shadow: 0px 0px 2px -1px #8a2be2;
}

.room {
  padding: 1rem;

  width: calc(100% - 60px);

  display: flex;
  flex-direction: column;

  gap: 1rem;

  overflow-y: scroll;
}

.brand {
  padding: 0.2rem 0;
  margin-bottom: 0.5rem;

  font-weight: bold;
  font-size: 1.5rem;
}

.profile {
  margin-top: auto;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
