.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 400px;
  background-color: white;
  box-shadow: 4px 0px 5px -3px gray;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 99;
}

.channel {
  display: flex;
  flex-direction: column;
  width: 60px;
  border-right: 1px solid rgba(138, 43, 226, 0.25);
  box-shadow: 0px 0px 2px -1px #8a2be2;
}

.room {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
}

.room::-webkit-scrollbar {
  width: 3px;
  top: 1rem;
}
.room::-webkit-scrollbar-track {
  background-color: transparent;
}
.room::-webkit-scrollbar-thumb {
  background-color: #b797cf;
  border-radius: 15px;
}
.room::-webkit-scrollbar-button {
  height: 1rem;
}

.wrap {
  display: flex;
  margin-bottom: 0.5rem;

  flex-direction: row;
  justify-content: space-between;
}

.brand {
  padding: 0.2rem 0;

  font-weight: bold;
  font-size: 1.5rem;
}

.participants {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 1.5rem;

  gap: 4px;
}

.select_date {
  margin-left: 0.5rem;

  display: flex;
  align-items: center;

  gap: 0.3rem;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 1rem;
}

.scroll_bar {
  width: 0.2rem;
  height: 3rem;
  background-color: #8a2be2;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-self: right;
}
