.room {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
}

.room::-webkit-scrollbar {
  width: 3px;
  top: 1rem;
}
.room::-webkit-scrollbar-track {
  background-color: transparent;
}
.room::-webkit-scrollbar-thumb {
  background-color: #b797cf;
  border-radius: 15px;
}
.room::-webkit-scrollbar-button {
  height: 1rem;
}

.wrap {
  display: flex;
  margin-bottom: 0.5rem;

  flex-direction: row;
  justify-content: space-between;
}

.exit {
  position: relative;

  top: 1px;

  display: flex;
  align-items: center;

  gap: 10px;
}

.brand {
  padding: 0.2rem 0;

  font-weight: bold;
  font-size: 1.5rem;
}

.participants {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 1.5rem;

  gap: 4px;
}

.select_date {
  margin-left: 0.4rem;

  display: flex;
  align-items: center;

  gap: 0.3rem;
}

.scroll_bar {
  width: 0.2rem;
  height: 3rem;
  background-color: #8a2be2;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-self: right;
}
