.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: #ffffff;
  padding: 1rem 1rem 0.8rem;
  width: 100%;
}

.footer * {
  color: #222222;
}

.about_container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.github {
  color: rebeccapurple;
}
.github * {
  color: rebeccapurple;
}
