.profile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
}

.profile_contents {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile_avatar {
  width: 3rem;
  height: 3rem;
}

.default_info {
  color: white;
  margin-top: 1rem;
  text-align: center;
}

.default_info > p:first-child {
  font-size: 1.2rem;
}

.github_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 10px;
}

@media screen and (max-width: 430px) {
  .default_info > p:first-child {
    font-size: 0.9rem;
  }
}
