.weekdays {
  display: inline-block;
  width: 50px;
  padding: 30px;
  background-color: #f0f0f0;
}

.dates {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.day_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.days {
  width: 50px;
  padding: 30px;
}

.selected_date_circle {
  width: 20px;
  height: 20px;
  background-color: #00800033;
  border-radius: 50%; /* 원형 모양 */
  position: absolute; /* 위치 지정 */
}
