.calendar_container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.weekday {
  display: inline-block;
  width: 70px;
  padding: 30px;
}

.dates {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.day_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.days {
  width: 70px;
  padding: 30px;
  position: relative;
}

.selected_date_circle {
  width: 35px;
  height: 35px;
  background-color: #35017621;
  border-radius: 50%;
  position: absolute;
  position: absolute;
  top: 30%;
  left: 30%;
}

.button_container {
  display: flex;
}

.next_button {
}
