.CalendarContainer {
  width: 300px;
  margin: 30px auto;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.Weekdays {
  display: inline-block;
  width: 50px;
  padding: 30px;
  background-color: #f0f0f0;
}

.Dates {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.DayContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Days {
  width: 50px;
  padding: 30px;
}
.SelectedDateCircle {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%; /* 원형 모양 */
  position: absolute; /* 위치 지정 */
}
