.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.start {
  color: white;
}

.hero {
  width: 100%;
}

.image_background {
  background-image: url(../../public/images/main_landing_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  /* background-size: cover;
  background-position-y: 25%;
  height: 45%; */
}

.background_color {
  background-color: rgba(0, 0, 0, 0.729);
  background-size: cover;
  height: 45%;
}

.copy_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 7rem 1.5rem;
  position: relative;
}

.head_copy {
  margin-bottom: 1.5rem;
  color: white;
  font-weight: bold;
  font-size: clamp(1.8rem, 8vw, 3.2rem);
  word-break: keep-all;
  line-height: 1.2;
}

.middle_copy {
  margin-top: 0.8rem;
  color: rgb(228, 228, 228);
  font-weight: 300;
  line-height: 1.3;
  font-size: clamp(0.87rem, 3vw, 1.2rem);
}

.button {
  top: 2.5rem;

  padding: 1rem 3rem;
  background-color: #121212;
  color: rgb(220, 220, 220);

  margin: auto;
  font-size: clamp(0.8rem, 8vw, 1.2rem);
  font-weight: 400;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px 0px;
  text-align: center;
}

.section > h3 {
  font-size: clamp(1.3rem, 5vw, 2rem);
  min-width: 315px;
  padding: 10px;
}

.use_cases {
  width: 100%;
  margin-top: 40px;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 50px;
  justify-content: space-around;
}

.use_cases > span {
  gap: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 150px;
}

.use_case {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .use_cases {
    grid-template-columns: repeat(2, 1fr);
  }
}
