.modal {
  height: 90%;
  margin: 0;
  border-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  position: absolute;
  bottom: 0;
}

.modalbody {
  padding: 2rem 0.7rem;
}

.meeting_modal_btn {
  cursor: pointer;
}

.meeting_modal_btn:hover {
  color: rgb(130, 130, 130);
}
