.profile {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 0.5rem;
  white-space: no-wrap;
  cursor: pointer;
}

.profile:hover {
  outline-color: black;
}

.view_profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user_name {
  font-size: 1rem;
}
.view_profile_text {
  font-size: 0.78rem;
  color: rgb(87, 87, 87);
}
