.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 50px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.header > a {
  font-size: 1.3rem;
  font-weight: bold;
}
