.back_btn {
  left: 10px;
  top: 13px;
}
.header_title {
  font-size: 1.6rem;
  min-width: 11.5rem;
  margin: 0.3225rem;
}

.modal_body {
  overflow: hidden;
  align-items: center;
  padding-top: 3.75rem;
}

.profile_container {
  display: flex;
  position: relative;
}

.profile {
  max-width: 8.125rem;
  min-height: 8.125rem;
  margin: 0.625rem;
  margin-bottom: 0rem;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.name_container {
  text-align: left;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  margin-top: 3.75rem;
}

.edit_name_description {
  display: flex;
  justify-content: space-between;

  color: rgb(155, 155, 155);
}

.current_name_length {
  color: black;
}

.name_container > input {
  background-color: white;
  color: rgb(147, 147, 147);
  height: 2.1875rem;
  border-radius: 0.625rem;
  border: 0.08125rem solid rgb(188, 188, 188);
  padding-left: 0.625rem;
}

.name_container > input:focus {
  color: black;
  outline: none;
}

.profile_edit_button {
  position: absolute;
  right: 0.1875rem;
  bottom: 0rem;
  background-color: white;
  scale: 0.8;
  border-radius: 1.5625rem;
}

.edit_icon {
  scale: 3.9;
}

.save_button {
  width: 100%;
  height: 2.5rem;
  margin-top: 0.625rem;
  color: white;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .modal_body {
    padding-top: 2rem;
  }

  .name_container {
    min-width: 20rem;
  }

  .profile_edit_button {
    right: 0.1875rem;
    bottom: 0rem;
  }
}

@media screen and (max-width: 480px) {
  .header_title {
    font-size: 1.5rem;
    min-width: auto;
  }

  .name_container {
    min-width: 17.3rem;
  }

  .name_container > p {
    font-size: 0.9rem;
  }

  .user_edit_container > p {
    font-size: 1rem;
  }
}
