.rooms_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  max-height: 80vh;
  overflow-y: overlay;
}

.rooms_box > div {
  width: 100%;
}

.room_box {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: #fafbfc;
}

.room_box:hover {
  background-color: #f6f8fa;
}

.room_box_left {
  text-align: left;
  line-height: 1.5;
}

.meeting_name {
  font-size: 1.3rem;
}

.meeting_date {
  font-size: 1.1rem;
}

.meeting_location {
  font-size: 1.1rem;
}

.room_box_right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: right;
}

.participants_container {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5px;
}

.participant_profile {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
