.label {
  padding: 0.5rem;
  width: 100%;
  font-weight: normal;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.selected {
  background-color: #b197fc;
  color: white;
}
