.label {
  padding: 0.5rem;

  width: 100%;

  margin-bottom: 1rem;

  font-size: large;
  font-weight: normal;

  background-color: white;
  border: 1px solid darkgray;
  border-radius: 50px;

  text-align: center;
  cursor: pointer;
}

.selected {
  background-color: #b197fc;
  color: white;
}
