.container {
  position: absolute;
  top: 50%;
  right: 2%;

  z-index: 3;
  transform: translateY(-50%);
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;

  padding: 35px 16px 60px 16px;

  width: 3rem;
  height: 250px;

  border-radius: 12px;
  box-shadow: 1px 2px 5px #00000090;

  background-color: white;
}

.wrapper::before {
  content: '-';
  position: absolute;
  bottom: 11%;
  font-size: 20px;
}

.wrapper::after {
  content: '+';
  position: absolute;
  top: 2%;
  font-size: 20px;
}

.range_bar {
  position: absolute;
  width: 3px;
  height: 150px;

  background-color: gray;
  z-index: 3;
}

.range_circle {
  width: 0.7rem;
  height: 0.7rem;

  border-radius: 50%;
  background-color: gray;

  z-index: 4;
  cursor: pointer;
}

.range_select_circle {
  position: absolute;

  width: 1.1rem;
  height: 1.1rem;

  border-radius: 50%;
  background-color: #b797cf;
  box-shadow: 1px 2px 5px #00000090;

  z-index: 5;
  transition: top 0.5s ease, bottom 0.5s ease, transform 0.5s ease;
}

.select_range {
  position: absolute;
  bottom: 5%;
  display: inline-block;
  font-size: 13px;
}

.r_2000 {
  top: 13%;
}

.r_1000 {
  top: 32%;
}

.r_500 {
  top: 51%;
}

.r_200 {
  top: 70%;
}
