.map_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  aspect-ratio: 1.9;
  border-radius: 12px;
  border: 2px solid #ddd;
  overflow: hidden;
}

.map {
  position: absolute;
  width: 100%;
  aspect-ratio: 1.9;
}

.center_pin {
  position: absolute;
  top: 44%;
  left: 50%;
  z-index: 11;
  transform: translate(-50%, -44%);
  transition: top 0.3s ease, opacity 0.3s ease;
}

.center_address {
  position: absolute;
  top: 54%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.center_pin_drag {
  top: 42%;
  opacity: 0.5;
}

.box {
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
}

.address {
  display: flex;
  justify-content: space-between;
}

.button_wrapper {
  position: absolute;
  bottom: 5%;
  right: 5%;

  display: flex;
}
