.map_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.map_container_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchbar_container {
  position: absolute;
  display: flex;
  gap: 1rem;
  top: 2rem;
  left: 2rem;
  width: 85%;
  max-width: 600px;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.center_spinner {
  position: absolute;
  top: 48%;
  left: 50%;
  z-index: 13;
  transform: translate(-50%, -50%);
}

.center_pin {
  position: absolute;
  top: 48%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease, opacity 0.3s ease;
}

.center_pin_base {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 1.5rem;
  height: 0.5rem;

  border-radius: 50%;

  background-color: #00000090;

  transform: translate(-50%, -50%);
  z-index: 9;
}

.center_pin_drag {
  top: 47%;
  opacity: 0.5;
}

.center_pin_base_drag {
  background-color: #00000050;
}

.center_pin_none {
  display: none;
}

.box {
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
}

.address {
  display: flex;
  justify-content: space-between;
}
