.start_location_container {
  position: absolute;

  width: 32%;
  min-width: 250px;

  bottom: 15%;
  left: calc(40% - 5rem);

  z-index: 13;
}

.wrapper {
  display: flex;
  gap: 0.5rem;

  margin-bottom: 1rem;
}

.label {
  padding: 1rem;

  width: 100%;

  margin-bottom: 1rem;

  font-size: large;
  font-weight: bold;

  background-color: #b197fc;
  border-radius: 50px;

  text-align: center;
}

.box {
  padding: 0.5rem;

  width: 100%;

  border: 2px dashed gray;
  border-radius: 10px;

  overflow: hidden;
  white-space: nowrap;

  text-align: center;
  text-overflow: ellipsis;
  background: white;
}

.selected {
  border: 2px solid #ac87ff;
}
