.wrapper {
  display: flex;
  gap: 0.5rem;
}

.label {
  padding-left: 0.5rem;
  font-size: small;
  font-weight: bold;
}

.box {
  padding: 0.5rem;

  width: 100%;

  border: 2px dashed gray;
  border-radius: 10px;

  overflow: hidden;
  white-space: nowrap;

  text-align: center;
  text-overflow: ellipsis;
}

.selected {
  border: 2px solid #ac87ff;
}
