.box {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  width: 100%;

  border-radius: 0 0 12px 12px;
  box-shadow: 1px 2px 5px #00000080;

  background-color: white;
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room_title {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.wrap {
  display: flex;
  gap: 1rem;
}

.confirm_info {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.pin {
  width: 15px;
}
