.room_header {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  background-color: #4e4e4e;
  color: white;
  border-radius: 0.8rem;
}

.room_header > div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.room_title {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.title_container {
  display: flex;
  flex-direction: column;
}

.title_container > p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.center_address {
  margin: 0.75rem 0;
}
