.room_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.room_header > * {
  margin: 0.5rem 0;
}

.room_header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room_title {
  font-weight: bold;
  font-size: 1.8rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
