.chatbox {
  position: relative;
  display: flex;
  width: auto;
}

.icon {
  position: absolute;
  right: 3%;
  top: 16%;
}

.iconActive {
  position: absolute;
  right: 3%;
  top: 16%;
  color: #7828c8;
  cursor: pointer;
}

.input_box {
  padding: 10px 20px;

  margin-bottom: 1rem;

  width: 100%;
  height: 2.5rem;

  border-radius: 20px;
  background-color: #e4e4e4;
}

.input_box:focus {
  outline: 2px solid #b197fc;
}
