.constainer {
  width: 100vw;
  height: 100%;
  background-color: black;
}

.chatbox_body {
  height: auto;
  background-color: white;
}

.profiles {
  padding: 1.2rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.6rem;
}

.profile_image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: cover;
}

.content {
  display: flex;
  flex-direction: column;
}

.chat_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.6rem;
}

.user_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}

.name {
  font-size: large;
  font-weight: bold;
  color: rgb(18 18 18);
}

.date_time {
  font-size: small;
  color: rgb(182 182 182);
}

.chat_log {
  color: rgb(23 23 23);
  background-color: #e4e4e4;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}
