.date {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  gap: 16px;
}

.date label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.date input {
  padding: 1rem;
  border-radius: 12px;
}

.start_button {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
