.category {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  padding-left: 1rem;
  width: 100%;

  background-color: inherit;

  overflow-x: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.category::-webkit-scrollbar {
  display: none;
}

.category > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.2rem 0.5rem;

  width: auto;

  border: 1px solid #ddd;
  border-radius: 12px;

  background: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.name {
  white-space: nowrap;
}

.category > li.selected {
  background-color: #8a2be2;
  color: white;
}
