.category {
  display: flex;
  flex-direction: row;
  left: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  gap: 0.5rem;
}

@media screen and (max-width: 600px) {
  .category > li > span {
    display: none;
  }
}

.category > li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 12px;
  background: white;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  cursor: pointer;
}

.category > li.selected {
  background-color: #8a2be2;
  color: white;
}
