.places_container {
  max-height: 450px;
  width: 100%;
  background-color: inherit;
  overflow: hidden;
  overflow-y: overlay;
  cursor: pointer;
}

.places_container > ul {
  display: flex;
  flex-direction: column;
}

.places_container > ul > li {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.place_name {
  font-weight: bold;
}

.road_address_name {
  font-size: 90%;
}

.category_group_name {
  color: gray;
  font-size: 90%;
  display: block;
}

.places_container button {
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
}
