.header_title {
  font-size: 26px;
}

.modal_body {
  overflow: hidden;
  align-items: center;
  padding-top: 60px;
}
.profile_container {
  display: flex;
  position: relative;
}
.profile {
  width: 130px;
  height: 130px;

  margin: 10px;
  border-radius: 50%;

  object-fit: cover;
  position: relative;

  display: flex;
  justify-content: center;
  z-index: 0;
}

.name_container {
  text-align: left;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 60px;
}

.edit_name_description {
  display: flex;
  justify-content: space-between;

  color: gray;
}

.current_name_length {
  color: black;
}

.name_container > input {
  background-color: white;
}

.profile_edit_button {
  position: absolute;
  right: 3px;
  bottom: 4px;
  background-color: white;
  scale: 0.8;
  border-radius: 25px;
}

.edit_icon {
  scale: 3.9;
}
